body
{
    height: 100%;
    width: 100vw;
    font-family: 'Tajawal', sans-serif;
    overflow:scroll;
    color: #007bff;
}

section
{
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}
p
{
z-index: 1;
}

.btn-group
{
    z-index: 1;
}

#links
{
  margin: 20px;
}
.circle
{
  background-color: #b8de6f;
  border-radius: 50%;
  width: 95%;
  height: 100%;
  margin-top: 30%;
}

.circle > a
{
  text-decoration: none;
  font-size: 160%;
  width: 100%;
  margin-top: 40%;
  display: inline-block;
  font-weight: bolder;
  padding-left: 5%;
  padding-right: 5%;
}

footer
{
  font-weight: bolder;
  color: #214b77;
}

/*the slider style*/
.firstsection
{
    /* background-image: linear-gradiant( 45deg, rgb(202, 44, 44), rgb(43, 107, 17));  */
    background-color: gray;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top:0%;
}

.mySlides {display: none;}

.imgsm
{
  height: 100vh;
  width: 130%;
  position: absolute;
  top:90px;
  left: -15%;
}

.imglg
{
  margin-top: -230px;
  width: 100%;
}

.dropdown-toggle
{
  margin-left: 50%;
  font-size: 200%;
  margin-top: 200px;
}

/* Slideshow container */
.slideshow-container {
    /* background-image: linear-gradiant( 45deg, #555, #888);   */
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: -1;
  height: 100vh;
 top: -7%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}